.challengeCont {
  display: flex;
  flex-wrap: wrap;
}

.challenge {
  display: flex;
  border: 2px solid white;
  padding: 20px;
  height: 60px;
  width: 200px;
  margin: 15px 10px;
  box-shadow: 0 6px 8px #00000026;
  border: 2px solid #d9d9d9;
  transition: all 0.2s ease-in-out;
}

.challenge:hover {
  scale: 1.1;
}

.linkText {
  margin: auto;
  align-items: center;
  text-decoration: none;
  color: rgb(70 175 56);
}
